<form action="/OrderItem/Index" method="get">
    @if (ViewBag.Names != null)
    {
        <div class="mb-3 ml-1">
            <h6 class="text-center text-primary">Names</h6>
            @Html.DropDownList("Names", (MultiSelectList)ViewBag.Names, new { multiple = "multiple"})
        </div>
    }
    @if (ViewBag.Units != null)
    {
        <div class="mb-3 ml-1">
            <h6 class="text-center text-primary">Units</h6>
            @Html.DropDownList("Units", (MultiSelectList)ViewBag.Units, new { multiple = "multiple"})
        </div>
    }
    <div class="mb-3 ml-1 text-center">
        <a asp-area="" asp-controller="OrderItem" asp-action="Index" type="button" class="btn btn-warning">Cansel</a>
        <button type="submit" class="btn btn-success">Success</button>
    </div>
</form>